* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f9f9;
    color: #333;
}


/* MENÚ */
header {
    background-color: #0077b6;
    padding: 15px 40px;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #caf0f8;
}


/* PORTADA */
.inicio {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)
    ),
url("imagenes/playa.jpg");
    background-size: cover;
    background-position: center;
}


.inicio h2 {
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
}


.inicio p {
    color: white;
    font-size: 20px;
    max-width: 600px;
}


button {
    margin-top: 25px;
    padding: 12px 30px;
    border: none;
    background-color: #00b4d8;
    color: white;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
}


button:hover {
    background-color: #0096c7;
}


/* SECCIONES */
section {
    padding: 60px 100px;
    text-align: center;
}


section h2 {
    color: #0077b6;
    font-size: 32px;
    margin-bottom: 20px;
}


section p {
    font-size: 18px;
    line-height: 1.6;
}


/* PIE DE PAGINA */
footer {
    background-color: #023e8a;
    color: white;
    text-align: center;
    padding: 20px;
}


.tarjetas {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px;
    flex-wrap: wrap;
}


.card {
    background: white;
    width: 300px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
}


.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h2 {
    margin-bottom: 15px;
}


.card:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}


.mvp {
    background-color: #e9f7f8;
    padding: 60px 100px;
    text-align: center;
}


.mvp h2 {
    color: #0077b6;
    font-size: 35px;
    margin-bottom: 20px;
}


.mvp-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
    flex-wrap: wrap;
}


.mvp-card {
    background: white;
    width: 280px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}


.mvp-card h3 {
    color: #0096c7;
    margin-bottom: 15px;
}


.equipo {
    padding: 60px 100px;
    text-align: center;
}


.equipo h2 {
    color: #0077b6;
    font-size: 35px;
    margin-bottom: 20px;
}


.equipo-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}


.persona {
    background: white;
    width: 220px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}


.persona h3 {
    color: #0096c7;
    margin-bottom: 10px;
}


.legal {
    background-color: #f0f8ff;
    padding: 60px 100px;
    text-align: center;
}


.legal h2 {
    color: #0077b6;
    font-size: 35px;
    margin-bottom: 20px;
}


.legal-container {

    display:flex;
    gap:20px;
    overflow-x:auto;
    align-items:flex-start;

}



.legal-titulo {

    width:100%;
    min-height:90px;
    background:#0077b6;
    color:white;
    border:none;
    border-radius:12px;
    padding:15px;
    font-size:17px;
    font-weight:bold;
    cursor:pointer;

}
.legal-card {

    width:280px;
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
    transition:0.4s ease;

}


.legal-card.activo {

    width:600px;

}

.legal-texto {

    display:none;

}


.legal-card.activo .legal-texto {

    display:block;

}

.unete {
    background-color: #e9f7f8;
    padding: 60px 100px;
    text-align: center;
}


.unete h2 {
    color: #0077b6;
    font-size: 35px;
    margin-bottom: 20px;
}


form {
    max-width: 500px;
    margin: 30px auto;
}


input, textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}


textarea {
    height: 120px;
}


form button {
    background-color: #0077b6;
    color: white;
}


.inicio-contenido {
    max-width: 700px;
}


.inicio h3 {
    color: white;
    font-size: 28px;
    margin-bottom: 20px;
}


.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 35px;
    background-color: #00b4d8;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
}


.btn:hover {
    background-color: #0077b6;
}


/* DISEÑO PARA CELULARES */

@media (max-width: 768px) {

    header {
        padding: 15px;
    }


    nav {
        flex-direction: column;
    }


    nav ul {
        flex-direction: column;
        text-align: center;
        margin-top: 15px;
    }


    .inicio h2 {
        font-size: 32px;
    }


    .inicio h3 {
        font-size: 22px;
    }


    .inicio p {
        font-size: 16px;
    }


    section {
        padding: 40px 20px;
    }


    .tarjetas,
    .mvp-container,
    .equipo-container,
    .legal-container {
        flex-direction: column;
        align-items: center;
    }


    .card,
    .mvp-card,
    .persona,
    .legal-card {
        width: 90%;
    }


    .unete {
        padding: 40px 20px;
    }

}


.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
}


.card,
.mvp-card,
.persona,
.legal-card {
    transition: 0.4s;
}


.card:hover,
.mvp-card:hover,
.persona:hover,
.legal-card:hover {
    transform: translateY(-10px);
}


.inicio-contenido {
    animation: aparecer 1.5s ease;
}


@keyframes aparecer {

    from {
        opacity: 0;
        transform: translateY(40px);
    }


    to {
        opacity: 1;
        transform: translateY(0);
    }

}


.foda {
    background-color: #f8fdfd;
    padding: 60px 100px;
    text-align: center;
}


.foda h2 {
    color: #0077b6;
    font-size: 35px;
    margin-bottom: 20px;
}


.foda-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}


.foda-card {
    width: 260px;
    padding: 25px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}


.foda-card h3 {
    color: #0096c7;
    margin-bottom: 15px;
}


.informacion {
    padding: 60px 100px;
    text-align: center;
}


.info-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
    flex-wrap: wrap;
}


.info-card {
    background: white;
    width: 300px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}


.info-card h3 {
    color:#0077b6;
    margin-bottom:15px;
}


.ayudar {

    background-color:#e9f7f8;
    padding:60px 100px;
    text-align:center;

}


.ayudar h2 {

    color:#0077b6;
    font-size:35px;
    margin-bottom:20px;

}


.ayudar-container {

    display:flex;
    justify-content:center;
    gap:25px;
    margin-top:40px;
    flex-wrap:wrap;

}



.ayudar-card {

    background:white;
    width:260px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);

}



.ayudar-card h3 {

    color:#0096c7;
    margin-bottom:15px;

}


.acciones-container {

    display:flex;
    justify-content:center;
    gap:25px;
    margin:40px 0;
    flex-wrap:wrap;

}


.accion {

    background:white;
    width:280px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);

}


.accion h3 {

    color:#0077b6;
    margin-bottom:15px;

}


.mensaje {

    color:#023e8a;
    margin:30px;

}


.noticias {

    padding:60px 100px;
    text-align:center;

}


.noticias h2 {

    color:#0077b6;
    font-size:35px;
    margin-bottom:20px;

}



.noticias-container {

    display:flex;
    justify-content:center;
    gap:25px;
    margin-top:40px;
    flex-wrap:wrap;

}



.noticia {

    width:300px;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);

}



.noticia h3 {

    color:#0096c7;
    margin-bottom:15px;

}


.playas {

    background-color:#f0f8ff;
    padding:60px 100px;
    text-align:center;

}


.playas h2 {

    color:#0077b6;
    font-size:35px;
    margin-bottom:20px;

}


.playas-container {

    display:flex;
    justify-content:center;
    gap:25px;
    margin-top:40px;
    flex-wrap:wrap;

}



.playa-card {

    background:white;
    width:300px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);

}



.playa-card h3 {

    color:#0096c7;
    margin-bottom:15px;

}


.legal-container {

display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;

}


.legal-card {

background:white;
width:280px;
border-radius:15px;
padding:20px;
box-shadow:0 5px 15px rgba(0,0,0,0.15);

}



.legal-titulo {

width:100%;
background:#0077b6;
color:white;
border:none;
padding:15px;
border-radius:10px;
font-size:16px;
font-weight:bold;
cursor:pointer;

}



.legal-texto {

display:none;
margin-top:20px;
line-height:1.6;

}



.legal-card.activo .legal-texto {

display:block;

}


.unete {
    background-color: #e9f7f8;
    padding: 60px 100px;
    text-align: center;
}


.unete h2 {
    color: #0077b6;
    font-size: 35px;
    margin-bottom: 20px;
}


form {
    max-width: 500px;
    margin: 30px auto;
}


input, textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}


textarea {
    height: 120px;
}


form button {
    background-color: #0077b6;
    color: white;
}


.limpiezas{

    margin-top:40px;
    padding:40px;
    background:#f0fbff;
    border-radius:20px;
    text-align:center;

}


.actividades-container{

    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;

}


.actividad{

    background:white;
    width:280px;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);

}


.actividad h3{

    color:#0077b6;

}


/* SECCIÓN PARTICIPA EN LIMPIEZAS */

.participar-limpieza {

    background: #f0fbff;
    padding: 50px;
    margin-top: 40px;
    border-radius: 20px;
    text-align: center;

}


.participar-limpieza h2 {

    color: #0077b6;
    font-size: 32px;
    margin-bottom: 15px;

}


.participar-limpieza > p {

    max-width: 800px;
    margin: auto;
    font-size: 18px;
    line-height: 1.7;

}



/* TARJETAS DE PASOS */

.pasos-container {

    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 40px;

}


.paso {

    background: white;
    width: 280px;
    min-height: 230px;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.12);
    transition: 0.3s;

}


.paso:hover {

    transform: translateY(-8px);

}


.paso h3 {

    color: #0077b6;
    font-size: 20px;

}


.paso p {

    line-height: 1.6;
    color: #444;

}



/* MENSAJE FINAL */

.mensaje-participacion {

    margin-top: 40px;
    background: white;
    padding: 30px;
    border-radius: 15px;

}


.mensaje-participacion h3 {

    color: #0096c7;

}


.mensaje-participacion p {

    line-height: 1.7;

}



/* BOTÓN */

.participar-limpieza .btn {

    display: inline-block;
    margin-top: 30px;
    padding: 15px 35px;
    background: #0077b6;
    color:white;
    border:none;
    border-radius:30px;
    font-size:17px;
    cursor:pointer;
    transition:0.3s;

}


.participar-limpieza .btn:hover {

    background:#023e8a;

}


html{

scroll-behavior:smooth;

}


.menu{

display:flex;
justify-content:center;
gap:20px;
background:#0077b6;
padding:15px;
position:sticky;
top:0;

}


.menu a{

color:white;
text-decoration:none;
font-weight:bold;

}


.menu a:hover{

color:#90e0ef;

}


.pantalla{

    display:none;
    width:100%;
    min-height:100vh;
    padding:50px;

}

.pantalla.activa{

    display:block;

}


